<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Radio en vivo de música electronica">
    <title>
        <%= title1 %>
    </title>
    <%- include('partials/head.ejs') %>
</head>

<body>
    <!--- Encabezado desde nav.ejs ---->
    <%- include('partials/nav.ejs') %>
        <div class="container">
            <div id="glow" class="glow disable-animation">
                <div id="player">
                    <span class="text">My Podcast</span>
                    <br>
                    <span id="songName" class="text">Special New Year!!</span>
                    <br>
                    <div class="playback_controls">
                        <audio id="audio">
                            <source src="audio/newYear.mp3" type="audio/mp3">
                        </audio>
                        <button class="btn btn_live icon" id="button_play">Play<span class="live-icon"></span></button>

                    </div>


                </div>
            </div>
        </div>
        <div class="body">
            <!------ BUTTON WITH WEB SHARE API -------->
            <div class="content_share">
                <p>You can help me, sharing with your friends :D</p>
                <button id="btn_share">
                    <i class="fas fa-share-alt"></i>
                </button>
                <p class="result"></p>


            </div>
            <div class="footer">
                <h4>Pier Olivera | Todos los derechos reservados</h4>
            </div>

        </div>



        <script>
            const btn_play = document.getElementById('button_play');
            const audio = document.getElementById('audio');

            btn_play.addEventListener("click", function () {
                if (audio.paused) {
                    audio.play();
                    btn_play.innerHTML = 'Live';
                    document.getElementById('glow').classList.remove('disable-animation');
                } else {
                    audio.pause();
                    btn_play.innerHTML = 'Play';
                }
            });

            // Add share
            let shareData = {
                title: 'Personal WEB',
                text: 'Musica electronica 24/7',
                url: 'https://rufastodev.herokuapp.com/podcast'
            }
            var button = document.getElementById('btn_share');
            var resultPara = document.getElementsByClassName('result');
            button.addEventListener('click', () => {
                navigator.share(shareData)
                    .then( ()=>
                        resultPara.textContent = 'Ya puedes compartir :V'
                    )
                    .catch( (e)=>
                        resultPara.textContent = 'Error:' + ' ' + e
                    )
                }
            )

            











        </script>
</body>

</html>