<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title2 %></title>
    <%- include('partials/head.ejs') %>
</head>
<body>
    <!--- Encabezado desde nav.ejs ---->
    <%- include('partials/nav.ejs') %>
    <h2>Sección Support</h2>
    

</body>
</html>