<header>
    <nav>
        <input id="nav-toggle" type="checkbox">
        <div class="logo"><strong>Rufasto </strong>DEV</div>
        <ul class="links">
            <li><a href="/">Home</a></li>
            <li><a href="/podcast">Podcast</a></li>
            <li><a href="#">Portafolio</a></li>
            <li><a href="/support">Support</a></li>
        </ul>
        <label for="nav-toggle" class="icon-burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </label>
    </nav>
</header>